---
Language:                                       Cpp
BasedOnStyle:                                   Google
AccessModifierOffset:                           -4
AlignTrailingComments:                          true
AllowShortBlocksOnASingleLine:                  true
AllowShortCaseLabelsOnASingleLine:              true
AllowShortFunctionsOnASingleLine:               true
AllowShortIfStatementsOnASingleLine:            true
AlwaysBreakAfterDefinitionReturnType:           false
AlwaysBreakTemplateDeclarations:                true
BreakBeforeBraces:                              Attach
ColumnLimit:                                    100
ConstructorInitializerAllOnOneLineOrOnePerLine: false
DerivePointerAlignment:                         false
IndentWidth:                                    4
NamespaceIndentation:                           None
PointerAlignment:                               Left
UseTab:                                         Never
...
